NODE_ENV=development
NEXT_PUBLIC_API_URL=http://your-server-ip

STRIPE_TEST_SECRET_KEY=sk_test_your-stripe-test-secret-key
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key

# Facebook API
NEXT_PUBLIC_FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_APP_SECRET=your-facebook-app-secret
NEXT_PUBLIC_FACEBOOK_OAUTH_CALLBACK_URL=http://your-server-ip:3000/api/auth/callback/facebook

# Google Ads API
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXT_PUBLIC_GOOGLE_OAUTH_CALLBACK_URL=http://your-server-ip:3000/api/auth/callback/google

# Stripe API
STRIPE_SECRET_KEY=sk_test_your-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=pk_test_your-stripe-publishable-key
NEXT_PUBLIC_STRIPE_CLIENT_ID=ca_your-stripe-client-id
NEXT_PUBLIC_STRIPE_OAUTH_CALLBACK_URL=http://your-server-ip:3000/api/auth/callback/stripe

# PayPal API
NEXT_PUBLIC_PAYPAL_CLIENT_ID=your-paypal-client-id
PAYPAL_CLIENT_SECRET=your-paypal-client-secret
PAYPAL_SANDBOX=True
NEXT_PUBLIC_PAYPAL_OAUTH_CALLBACK_URL=http://your-server-ip:3000/api/auth/callback/paypal
